<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      }

      td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      }

      tr:nth-child(even) {
      background-color: #dddddd;
      }
      pre{
      white-space: pre-wrap;
      }
    </style>
  </head>
  <body>
    <h2>Movable items</h2>
    <p>These are the items that have the "movable" flag set to true, which generally indicates that they can be safely added to your inventory with CLUAConsole and used.</p>
    <h2>Immovable items</h2>
    <p>These are the items that have the "movable" flag set to false.  If you use CLUAConsole to add these to your inventory, they'll be stuck there forever.  These could be special items that a character is stuck with, creature abilities or attacks that are implemented on the backend as items, item-like effects of offensive spells, or just discarded items that were never fully added to the game but were also never fully removed.</p>
    <table>
      <tr>
        <th>ITEM CODE</th>
        <th>NAME</th>
        <th>TYPE</th>
        <th>PROFICIENCY</th>
        <th>MOVABLE</th>
      </tr>
      {% for item in items if item["flags"]["movable"] %}
      <tr>
        <td>{{ item["item_code"] }}</td>
        <td><a href="{{ item["item_code"] }}.html" target="_blank">{{ item["identified_name"] }}</a></td>
        <td>{{ item["item_type"] }}</td>
        <td>{{ item["weapon_proficiency"] if item["weapon_proficiency"] else "N/A" }}</td>
        <td>{{ "yes" if item["movable"] else "NO" }}</td>
      </tr>
      {% endfor %}
      {% for item in items if not item["flags"]["movable"] %}
      <tr>
        <td>{{ item["item_code"] }}</td>
        <td><a href="{{ item["item_code"] }}.html" target="_blank">{{ item["identified_name"] }}</a></td>
        <td>{{ item["item_type"] }}</td>
        <td>{{ item["weapon_proficiency"] if item["weapon_proficiency"] else "N/A" }}</td>
        <td>{{ "yes" if item["movable"] else "NO" }}</td>
      </tr>
      {% endfor %}
    </table>

  </body>
</html>
